RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^public/(.*)$ public/index.php [QSA,L]

php_value upload_max_filesize 5M
php_value post_max_size 8M
php_value session.cookie_httponly 1
php_value session.cookie_samesite Lax
